body {
  background-color: #1a1a1a;
  color: white;
  font-family: Helvetica;
}  .links {
  list-style: none;
  font-size: 18px;

} .contact {
  font-size: 15px;
  bottom: 0px;
  right: 0px;
  position: fixed;
} .container {
  position: relative;
  margin-top: 5%;

} .links a {
  color: #9b3136;
  text-decoration: none;
} .links a:hover {
  text-decoration: line-through;
  color:#4c1a1c;
} .cont2 {
  margin-top: 2%;
} #block {
  background-color: #000;
  width: 500px;
  height: 5px;
}
